@import url('./baskerville/baskvl.ttf');

@font-face {
    font-family: 'CustomFont';
    src: url('./baskerville/baskvl.ttf') format('truetype');
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'CustomFont', Arial, sans-serif;
    color: #dddddd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.chapter-display {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 23px;
    font-family: 'CustomFont', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #dddddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
}

.book1-slider .rc-slider-track {
    background-color: #A2B041;
}

.book1-slider .rc-slider-rail {
    background-color: #333333;
}

.book1-slider .rc-slider-handle {
    background-color: #A2B041;
    border: 2px solid #000000;
}

.book1-slider .rc-slider-mark-text {
    color: #ffffff;
}

.book1-slider .rc-slider-mark-text-active {
    color: #A2B041;
}

.book1-slider .rc-slider-dot-active {
    border-color: #5f6826;
}

.book1-slider .rc-slider-dot:not(.rc-slider-dot-active) {
    border-color: #333333;
}

.book2-slider .rc-slider-track {
    background-color: #ff5733;
}

.book2-slider .rc-slider-rail {
    background-color: #333333;
}

.book2-slider .rc-slider-handle {
    background-color: #ffffff;
    border: 2px solid #000000;
}

.book2-slider .rc-slider-mark-text {
    color: #ffffff;
}

.book2-slider .rc-slider-mark-text-active {
    color: #ff5733;
}

.book2-slider .rc-slider-dot:not(.rc-slider-dot-active) {
    border-color: #333333;
}

.book2-slider .rc-slider-dot-active {
    border-color: #af3e24;
}

.toggle-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    cursor: pointer;
}

.toggle-button-green {
    background-color: #A2B041;
}

.toggle-button-red {
    background-color: #ff5733;
}

.toggle-button-grey {
    background-color: grey;
}

.custom-tabs {
    background-color: rgba(0, 0, 0, 0.20);
    padding: 12px 24px;
    border-radius: 8px 8px 8px 8px;
    display: flex;
}
.custom-tabs .tab-green {
    background-color: #A2B041 !important;
    color: #ffffff !important;
    padding: 15px 30px !important;
    border-radius: 5px 5px 0 0 !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
}

.custom-tabs .tab-red {
    background-color: #ff5733 !important;
    color: #ffffff !important;
    padding: 15px 30px !important;
    border-radius: 5px 5px 0 0 !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
}

.custom-tabs .tab-green:hover {
    background-color: #899637 !important;
}

.custom-tabs .tab-green.tab--selected {
    background-color: #899637 !important;
    border-top: 3px solid #0f0b07 !important;
    font-weight: bold !important;
}

.custom-tabs .tab-green.tab--selected:hover {
    background-color: #899637 !important;
}

.custom-tabs .tab-red:hover {
    background-color: #df4928 !important;
}

.custom-tabs .tab-red.tab--selected {
    background-color: #df4928 !important;
    border-top: 3px solid #0f0b07 !important;
    font-weight: bold !important;
}

.custom-tabs .tab-red.tab--selected:hover {
    background-color: #df4928 !important;
}

.content-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.wordcloud-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.wordcloud-container .label {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bar-chart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.bar-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}
