@font-face {
    font-family: 'CustomFont';
    src: url('./baskerville/baskvl.ttf') format('truetype');
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'CustomFont', Arial, sans-serif;
    color: #dddddd; /* White color for visibility on dark background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow for better readability */
    padding: 10px; /* Padding for spacing */
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background for contrast */
    border-radius: 5px; /* Rounded corners */
}

/* Styles for Book 1 slider */
.book1-slider .rc-slider-track {
    background-color: #A2B041; /* Customize this color */
}

.book1-slider .rc-slider-rail {
    background-color: #333333; /* Customize this color */
}

.book1-slider .rc-slider-handle {
    background-color: #A2B041; /* Customize this color */
    border: 2px solid #000000; /* Customize this color */
}

.book1-slider .rc-slider-mark-text {
    color: #ffffff; /* Color for marks outside the selection */
}

.book1-slider .rc-slider-mark-text-active {
    color: #A2B041; /* Color for marks inside the selection */
}

.book1-slider .rc-slider-dot-active {
    border-color: #5f6826; /* Customize this color */
}

.book1-slider .rc-slider-dot:not(.rc-slider-dot-active) {
    border-color: #333333; /* Customize this color */
}

/* Styles for Book 2 slider */
.book2-slider .rc-slider-track {
    background-color: #ff5733; /* Customize this color */
}

.book2-slider .rc-slider-rail {
    background-color: #333333; /* Customize this color */
}

.book2-slider .rc-slider-handle {
    background-color: #ffffff; /* Customize this color */
    border: 2px solid #000000; /* Customize this color */
}

.book2-slider .rc-slider-mark-text {
    color: #ffffff; /* Color for marks outside the selection */
}

.book2-slider .rc-slider-mark-text-active {
    color: #ff5733; /* Color for marks inside the selection */
}

.book2-slider .rc-slider-dot:not(.rc-slider-dot-active) {
    border-color: #333333; /* Customize this color */
}

.book2-slider .rc-slider-dot-active {
    border-color: #af3e24; /* Customize this color */
}

/* Styles for toggle buttons */
.toggle-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.toggle-button-green {
    background-color: #A2B041;
}

.toggle-button-red {
    background-color: #ff5733;
}

.toggle-button-grey {
    background-color: grey;
}